<div class="modal fade" id="ModalAddInstructions" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Instructions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= simple_form_for(@cocktail, remote: true) do |f| %>
          <%= f.input :instructions, label: false, placeholder: "Specify the steps" %>
          <%= f.button :submit, class: "btn btn-ghost" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
