#autocomplete-list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  color: rgba(0, 0, 0, 0.85);
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 3px;
  overflow: hidden;
  z-index: 10;

  strong {
    color: black;
  }

  div {
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    padding-left: 18px;
    overflow: hidden;
  }

  .autocomplete-selected {
    background-color: #d2d2d2;
  }
}
