.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(rgba(40, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('bar_cocktails.jpg');
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  font-size: 36px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.scroll-down {
  position: absolute;
  bottom: 3vh;
  left: 5vh;

  a > .fas {
    color: white;
    font-size: 50px;
  }
}
