.btn-gradient {
  color: white;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  background: linear-gradient(rgba(200, 0, 0, 0.55), rgba(200, 0, 0, 0.65));
  transition: background 0.2s ease;
}

.btn-gradient:hover {
  background: linear-gradient(rgba(200, 0, 0, 0.7), rgba(200, 0, 0, 0.8));
  color: white;
}

.btn-ghost {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
  padding: 4px 8px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  transition: 0.1s ease;
}

.btn-ghost:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.35);
}

.btn-accept-confirm, .btn-cancel-confirm {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin: 0;
}

.btn-accept-confirm {
  color: white;
  background-color: #e5493d;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-cancel-confirm {
  color: black;
  background-color: lightgray;
}
