.modal {
  margin-top: 15vh;
}

.modal-dialog {
  max-width: 450px;
}

.modal-content {
  background-color: rgba(160, 0, 0, 0.7);
  border-radius: 5px;
  color: white
}

.close {
  color: white;

  &:hover {
    color: white;
  }
}

.modal-backdrop {
    opacity: 0.65 !important;
}

#ModalCocktailsFilter > .modal-dialog {
  max-width: 320px;

  .btn-ghost {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
  }
}
