.modal-dialog {
  min-width: 300px;
  max-width: 450px;
  margin-top: 10vh;
}

.modal-content {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 5px;
  color: white
}

.close {
  color: white;

  &:hover {
    color: white;
  }
}

.modal-backdrop {
    opacity: 0.65 !important;
}

#ModalCocktailsFilter > .modal-dialog {
  max-width: 480px;
  max-width: 480px;

  #ingredients_ {
    width: 220px;
  }

  .btn-ghost {
    margin-top: 10px;
  }
}

.form-group > textarea {
  height: 160px;
}
