.modal {
  margin-top: 15vh;
}

.modal-content {
  background-color: rgba(160, 0, 0, 0.7);
  border-radius: 5px;
  color: white
}

.close {
  color: white;

  &:hover {
    color: white;
  }
}

.modal-backdrop {
    opacity: 0.65 !important;
}
