.page-link, .page-item.disabled .page-link {
  color: white;
  border: none;
  background: linear-gradient(rgba(160, 0, 0, 0.75), rgba(140, 0, 0, 0.45));
  opacity: 0.9;
  margin-top: 10px;
}

.page-item.active .page-link, .page-item .page-link:hover {
  color: white;
  background: linear-gradient(rgba(190, 0, 0, 1), rgba(150, 0, 0, 0.8));
  border: none;
}
