.stars {
  float: left;
  padding-left: 10px;
  overflow: hidden;
  width: 100%;
}

.stars input[type=radio] {
  display: none;
}

.stars label {
  box-sizing: border-box;
  width: 20%;
  padding-right: 2%;
  height: 30px;
  float: right;
  cursor: pointer;
}

.stars label:after {
  display: block;
  content: "";
  height: 50px;
  width: 50px;
  float: right;
  transition: all 0.15s;
  content: "\f005";
  font-family: FontAwesome;
  font-size: 24px;
  color: rgb(80, 80, 80);
}

.stars input[type=radio]:first-child + label {}

.stars:hover input[type=radio]:checked ~ label:after,
.stars label:after {}

.stars label:hover:after,
.stars label:hover ~ label:after {
  color: rgb(255, 94, 0) !important;
}

.stars input[type=radio]:checked ~ label:after {
  color: rgb(255, 94, 0);
}
